@model Entities.Livro

@{
    ViewData["Title"] = (Model.Titulo);
}

<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <dl>
        <dt>
        </dt>
        <dd>

            @if (!string.IsNullOrEmpty(Model.Capa))
            {
                <img src="@Url.Content(Model.Capa)" alt="Image" style="width:70px;height:70px;" />
            }
            else
            {
                <img src="~/imagens/livros/no-image.jpg" alt="Image" style="width:70px;height:70px;" />
            }
        </dd>
    </dl>
</div>


<div>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sipnose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sipnose)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Autor.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    
    <h5>Tem certeza de que deseja excluir isso?</h5>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Excluir</button>
        <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-chevron-left"></i> Volver</a>
    </form>
</div>
