@model Entities.Livro


@{
    ViewData["Title"] = "Mostrar";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Genero.Id)
            </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sipnose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sipnose)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capa)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Autor)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Autor.Id)
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning"><i class="fa fa-edit"> Alterar</i></a>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa fa-chevron-left"></i> Volver</a>
</div>
