@model IEnumerable<Entities.Livro>

@{
    ViewData["Title"] = "Livros";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><i class="fa fa-file"></i> Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Capa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>

                <td>
                    @if (!string.IsNullOrEmpty(item.Capa))
                    {
                        <img src="@Url.Content(item.Capa)" alt="Image" style="width:70px;height:70px;" />
                    }
                    else
                    {
                        <img src="~/imagens/livros/no-image.jpg" alt="Image" style="width:70px;height:70px;" />
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info"><i class="fa fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
