
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<div class="row">
    <div class="col-md-4" align="center">

        <h2><p align="center">Emprestimos de livros</p></h2>
        <a href='@Url.Action("Index", "Emprestimos")'>
            <img src="~/imagens/livros/llevar.png" width="200" height="200" alt="Emprestimos" />
        </a>
        <p></p>
        <p>.....</p>

    </div>

    <div class="col-md-4" align="center">

        <h2><p align="center">Devolução de livros</p></h2>
        <a href='@Url.Action("BookReturn", "Emprestimos")'>
            <img src="~/imagens/livros/retorno.png" width="200" height="200" alt="Devoluções" />
        </a>
        <p></p>
        <p>.....</p>

    </div>

    <div class="col-md-4" align="center">

        <h2><p align="center">Livros</p></h2>
        <a href='@Url.Action("Index", "Livros")'>
            <img src="~/imagens/livros/livro.png" width="200" height="200" alt="Livros" />
        </a>
        <p></p>
        <p>.....</p>

    </div>

    <div class="col-md-4" align="center">

        <h2><p align="center">Autores</p></h2>
        <a href='@Url.Action("Index", "Autores")'>
            <img src="~/imagens/livros/autor.png" width="200" height="200" alt="Autores" />
        </a>
        <p></p>
        <p>.....</p>

    </div>

    <div class="col-md-4" align="center">

        <h2><p align="center">Generos</p></h2>
        <a href='@Url.Action("Index", "Generos")'>
            <img src="~/imagens/livros/tipo.png" width="200" height="200" alt="Livros" />
        </a>
        <p></p>
        <p>.....</p>

    </div>

    <div class="col-md-4" align="center">

        <h2><p align="center">Instituição</p></h2>
        <a href='@Url.Action("Index", "Instituicoes")'>
            <img src="~/imagens/livros/Instituicao.png" width="200" height="200" alt="Autores" />
        </a>
        <p></p>
        <p>.....</p>

    </div>
</div>

